/* .nav-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  padding: 20px;
}

.iner-container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  align-items: self-start;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 7px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 7px;
  padding: 10px;
  width: 90%;
}

input[type="file"],
input[type="color"],
input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
}

input[type="file"] {
  width: 100px;
  height: 30px;
  margin-right: 10px;
}

input[type="color"],
input[type="text"] {
  width: 150px;
  height: 30px;
  margin-right: 10px;
}

.save-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.question-section {
  margin-bottom: 20px;
}

.question-section select {
  margin-left: 10px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.question-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.add-button {
  padding: 8px 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #218838;
}

.questions-container {
  margin-top: 20px;
  width: 50%;
}

.question-block {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.question-title {
  margin-bottom: 10px;
}

.checkbox-group {
  margin-bottom: 10px;
}

.reason-textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 5px;
} */
